/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

main {
    gap: 35px;
    display: flex;
    flex-direction: column;
    padding: 35px 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4 {
    margin: 0;
}

button {
    cursor: pointer;
}

/****** Header & Footer ***********/

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 61.09px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
}

.logo-booki {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-menu {
    display: flex;
    padding: 0px 50px;
    align-items: flex-end;
    list-style: none;
    gap : 68px;
    margin: 0;
    height: 35px;
}

.nav-button:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    width: 100%;
    padding-top: 14px;
}

footer {
    display: flex;
    background-color: #F2F2F2;
    margin: 0px 50px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    width: 33.333%;
}

.footer-section p {
    margin: 0;
}

/****** Trouvez votre hébergement ***********/

.search-section  {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.search-section-title  {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-content {
  margin: 0;
}

.search-engine {
    display: flex;
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    width: fit-content;
}

.search-engine-label {
    display: flex;
    background-color: #F2F2F2;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

#localisation {
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    border: none;
    padding: 0px 24px;
}

.search-button-txt {
    background-color: #0065FC;
    font-weight: bold;
    color: white;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px;
    font-size: 18px;
    border: none;
}

.search-button-glass {
    display: none;
}

.fa-solid.fa-magnifying-glass {
    height: 17px;
    width: 17px;
}

.filter-menu {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.filter-menu-content {
    display: flex;
    gap: 15px;
}

.filter-button {
    display: flex;
    height: 50px;
    border-radius: 25px;
    border: 2px #D9D9D9 solid;
    background-color: white;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 17px;
}

.filter-button:hover {
    background-color:#DEEBFF;
}

.information {
  display: flex;
  gap: 10px;
  align-items: center;
}

.info-point {
  border: 1px #D9D9D9 solid;
  border-radius: 24px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.info-content > p {
  margin: 0;
}

/***********Sections*************/

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 15px;
}

.card-title {
    font-size: 16px;
    margin-top: 5px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.img-hebergements {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 124px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards > a {
    width: 30%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.img-populaires {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

#activities {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.activities-title {
    margin-bottom: 30px;
}

.activities-cards {
    display: flex;
    gap: 30px;
}

.activities-cards > a {
    width: 25%;
}

.activitie-card {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
}

.img-activities {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

#activities .card-title {
    margin: 0;
}

#activities .card-txt {
    padding: 20px 19px;
}

#activities .card-content {
    height: 59px;
    display: flex;
    justify-content: center;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .search-button-glass {
        display: none;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .img-activities {
        height: 200px;
    }

    #activities .card-content {
        padding: 0;
    }

    .populaires-cards .card {
        margin-top: 20px;
}

    .filter-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-button p {
        font-size: 16px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    
    .logo-booki {
        justify-content: center;
    }

nav {
    justify-content: center;
    }

    .nav-menu {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        gap: 0;
        padding: 0;
    }

    .nav-button {
        display: flex;
        width: 50%;
        justify-content: center;
    }

    .nav-button:hover {
        width:50%;
        border-top: 0;
        border-bottom: solid 2px #0065FC;
        padding-top: 0;
        padding-bottom: 14px;
        align-items: flex-start;
    }

    main {
        padding: 0;
        gap: 0;
    }

    .search-section {
        padding: 30px 20px;
    }

    .search-engine {
        width: 100%;
    }

    #localisation{
        display: flex;
        width: 90%;
        padding: 0px 19px;
    }

    .search-button-txt {
        display: none;
    }

    .search-button-glass {
        background-color: #0065FC;
        border-radius: 15px;
        padding: 15px 16px;
        border: 1px solid #0065FC;
        display: flex;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    }

    .filter-menu {
        gap: 20px;
    }

    .filter-menu-content {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter-button p {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px 20px;
    }

    .populaires {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
    margin: 0;
  }

    #hebergements {
        background-color: white;
        padding: 20px 0px;
        gap: 15px;
        padding: 20px;
    }

    .hebergements-cards {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 15px;
        align-items: center;
    }

    .hebergements-cards > a {
        width: 100%;
    }

    .img-hebergements {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 124px;
    }

    #activities {
        padding: 30px;
        margin: 35px 0px;
    }

    .activities-title {
        padding: 0;
    }
    
    .activities-cards {
        flex-direction: column;
        padding: 0;
        gap: 15px;
    }

    .activities-cards > a {
        width: 100%;
    }
    
    .img-activities {

    }

    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
        margin: 0;
    }

    .footer-section {
        width: 100%;
        padding: 0;
    }

}